<html>
 <head>
 <title>Mapping of N.M.A.M Institute of Technology</title>
</head>
 <body style="background-color: white">
 <h1 style="text-align:center"><u>Surveillance and Mapping.</u></h1>
<br> <img src="logo.jpg" style="display:block;margin:auto;height:20%;width:50%;" border="1" alt=""> </br>
<p style="margin:20px; text-align:justify">This site here helps you to find out about N.M.A.M Institute of Technology
N.M.A.M. Institute of Technology (NMAMIT), full name Nitte Mahalinga Adyanthaya Memorial Institute of Technology, is a 
deemed engineering college in Nitte, Karnataka, India. It was established in 1986, with programs in electronics and
 communication computer science, mechanical engineering, civil engineering and electrical engineering.</p>
<br> <img src="_SHM0744.jpg" style="display:inline-block;margin:Right;height:50%;width:40%;" border="2" alt="">
<img src="_SHM0647.jpg" style="display:inline-block;margin:left;height:50%;width:40%;" border="2" alt="">
<p style="margin:50px; text-align:top"> 
<h3>The time we were first years, we didnt know the departments and the places name. So we came to a conclution that this should not happen
to our upcoming juniors. Our group decided to create this webpage and help you save time and energy.
</h3></p></br>
<p><h3><u>Here, we will be giving information of the teachers, dpeartments and outline of NMAM Institute of Technology:</u></h3</p>
 <hr>
<footer>
 <p>1.The link below shows the direction to NMAM Institute of Technology.</p>
 <a href="https://goo.gl/maps/PD4Tdciz2NWKZ7xg6">Visit google maps </a>
<p>2.the link below is information about the teachers and departments.<p>
<a href="https://nmamit.nitte.edu.in/">Inforamtion about departments and Faculty</a>
<p><b><u>NOTE:</u></b>First click on the three lines on the right top, select programs and then undergraduate, you will get teachers with departments name.</p>
<br><p>
<p>3.The link below is to show the first years the direction to there destiny in the college.</p>
<a href="https://www.canva.com/design/DAFiG52jntQ/w-WNt1LiO_P7FDMS22JZ_g/edit?utm_content=DAFiG52jntQ&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">cliclk To reach your destiny.</a>
<p>After clicking the above link, please login. I gurante you that this will make you easier to reach your detiny.</p>
<h1 style="text-align:center">Thank you and please share!!</h1>
</footer >
 </body>
</html>



 